$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
    @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

    .hamburgerLines {
        cursor: pointer;
        padding-right: 5vw;
        width: 40px;

        @include pixel {
            width: auto;
        }
        @include tablet {
            width: auto;
        }

        @include desktop {
            display: none;
        }
    }
}
