$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
  @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-section{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #494D57;
    P{
        font-family: "Roboto",sans-serif;
        font-size: 0.6rem;
        color: #fff;
        padding: 3px 5px;

        @include pixel{
            font-size: 0.7rem;
        }
        @include tablet{
            font-size: 0.73rem;
        }
        @include desktop{
            font-size: 0.73rem;
        }
    }
}