$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
    @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home-page-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 10% 0 10% 0;
        // margin: 10% 1%;

        @include tablet {
            padding: 5% 0 5% 0;
        }
        @include desktop {
            padding: 2% 0 5% 0;
        }

        img {
            width: 8.5rem;

            @include pixel {
                width: 9rem;
            }
            @include tablet {
                width: 9.5rem;
            }
            @include desktop {
                width: 12rem;
            }
        }

        h1 {
            font-family: 'Redressed', cursive;
            color: #696666;
            font-style: normal;
            font-weight: normal;
            margin: 1%;
            margin-bottom: 3%;

            @include pixel {
                font-size: 2.5rem;
            }
            @include tablet {
                font-size: 2.8rem;
            }
            @include desktop {
                font-size: 2.9rem;
            }
        }
    }
}
